@media only screen and (max-width: 1180px) {
    .intro-img{
        width: 450px;
        object-fit: cover;
    }

    .main-div{
        background-image: none;
    }
  
    nav{
        width: 90%;
    }

    .intro-section{
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 900px) {
    
    nav{
        gap:20px
    }

    nav>.logo{
        flex-grow: 1;
    }

    nav>.logo>img{
        width: 120px;
    }

    .nav-items{
        display: none;
    }

    .hamburger{
        display: flex;
        cursor: pointer;
    }

    .mobile-menu{
        width: 30px;
    }


    .intro-section{
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
    }

    .imgs-div > :nth-child(3){
        margin-top: 30px;
    }

    .intro-img{
        width: 320px;
        object-fit: cover;
    }

    .left-section{
        text-align: center;
    }

    .left-section > h1{
        font-size: 48px;
        line-height: 40px;
    }
}


@media only screen and (max-width: 768px) {
 
}


@media only screen and (max-width: 480px) {

    nav{
        gap:10px
    }

    nav>.logo>img{
        width: 100px;
    }
    
    .signin-btn{
        background : linear-gradient(45deg, #5A20CB, #de95fd);
        margin: 9px;
        font-size: 14px;
        padding: 7px 20px;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .mobile-menu{
        width: 25px;
    }

    .left-section > h1{
        font-size: 36px;
        line-height: 30px;
    }
    
    .left-section > h4{
        font-size: 15px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .intro-img{
        width: 280px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 320px) {
    .intro-img {
        width: 260px;
    }
}